[Unit]
Description=Yefim Bot

[Service]
Type=notify
ExecStart=/usr/bin/dotnet /srv/Montreal/Montreal.Bot.Poc.dll
SyslogIdentifier=Montreal
User=root
Restart=always                    
RestartSec=2
Environment=DOTNET_ROOT=/usr/lib64/dotnet

[Install]
WantedBy=multi-user.target